html {
	display: inline-block;
}
body {
	background-color: #F2F2F2;
	margin: 0 auto;
	display: inline;
}
.main {
	width: 100%;
	float: right;
	margin: 0 auto;
	height: 100%;
}
nav {
	float: right;
	font-size: 22px;
	width: 100%;
}
nav a {
	display: inline;
	margin: 30px;
	font-family: 'Rock Salt', cursive;
	font-size: 10px;
	padding: .3em;
	color: 73F3D0;
	text-shadow: 2px 2px 10px #111111;
	text-decoration: none;
	float: right;
}
footer {
	position: inherit;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-image: url('wood.jpg');
	clear: both;
	display: inline-block;
}
div {
	display: inline-block;
}
li {
	text-decoration: none;
	display: inline;
	margin-right: 60px;
	font-family: 'Rock Salt', cursive;
	font-size: 10px;
	padding: .3em;
	color: 73F3D0;
	text-shadow: 2px 2px 10px #111111;
	line-height: 100px;
}
h1 {
	font-family: 'Merriweather', serif;	
	font-size: 55px;
	padding: 2px;
	color: #DBFFFF;
	text-align: left;
	line-height: 10px;
	text-shadow: 2px 2px 10px #111111;
}
h2 {
	font-family: 'Merriweather', serif;
	font-size: 19px;
	color: #A6A6A6;
	text-align: left;
	line-height: 20px;
	font-weight: 100;
}
p {
	font-family: 'Merriweather', serif;	
	font-size: 24px;
	text-align: left;
	color: black;
}

#content {
	overflow: auto;
}
a:hover {
	color: #DBFFFF;
}
.clearfix:after {   
	visibility: hidden;   
	display: inline;   
	font-size: 0;   
	content: " ";   
	clear: both;   
	height: 0; 
}

.column1 {
	display: inline-block;
	width: 300px;
	float: left;
	padding: 10px 10px 10px;
}
.column2 {
	display: inline-block;
	text-align: center;
	padding: 10px 10px 10px;
	float: left;
	width: 400px;
}
#circles {
	display: inline;
}
#resumecircle {
	height: 130px;
	width: 130px;
	background-size: fixed;
	background-color: #73F3D0;
	float: left;
	border-radius: 100%;
	font-family: 'Rock Salt', cursive;
	text-decoration: none;
	line-height: 130px;
	margin-bottom: 20px;
}
#workcircle {
	height: 130px;
	width: 130px;
	background-size: fixed;
	background-color: #A7FBDA;
	float: left;
	border-radius: 100%;
	font-family: 'Rock Salt', cursive;
	text-decoration: none;
	line-height: 130px;
	margin-bottom: 20px;
}
#skillcircle {
	height: 130px;
	width: 130px;
	background-size: fixed;
	background-color: #A7D0C0;
	float: left;
	border-radius: 100%;
	font-family: 'Rock Salt', cursive;
	text-decoration: none;
	line-height: 130px;
	margin-bottom: 20px;
}
.contact {
	font-family: 'Merriweather', serif;
	text-decoration: none;
	color: white;
	font-size: 16px;
	display: inline-block;
	margin: .5%;
	text-align: center;
	line-height: 50px;
}

.resume {
	display: inline-block;
	border-radius: 100%;
	float: right;
}
.resumepage {
	background-image: url('myresume.jpg');
	background-size: cover;
}