html {
	display: block;
}
body {
	background-color: #F2F2F2;
	margin: 0px;
	}
main {
	width: 600px;
	float: right;
	margin-right: 25px;
	height: 100%;

}
nav {
	float: right;
	font-size: 22px;
}
nav a {
	display: inline-block;
	margin: 30px;
	font-family: 'Rock Salt', cursive;
	font-size: 10px;
	padding: .3em;
	color: 73F3D0;
	text-shadow: 2px 2px 10px #111111;
	text-decoration: none;
}
footer {
	position: inherit;
	bottom: 0px;
	margin: 0px;
	width: 100%;
	height: 150px;
	background-image: url('wood.jpg');
	clear: both;
	display: inline-block;
}
div {
	display: block;
}
img {
	display: block;
	float: left;
	clear: both;
}
li {
	text-decoration: none;
	display: inline;
	margin-right: 60px;
	font-family: 'Rock Salt', cursive;
	font-size: 10px;
	padding: .3em;
	color: 73F3D0;
	text-shadow: 2px 2px 10px #111111;
	line-height: 100px;
}
h1 {
	font-family: 'Merriweather', serif;	
	font-size: 55px;
	padding: 2px;
	color: #DBFFFF;
	text-align: left;
	line-height: 10px;
	text-shadow: 2px 2px 10px #111111;
}
h2 {
	font-family: 'lobster two', serif;
	font-size: 14px;
	font-weight: 300;
	color: #A6A6A6;

}
p {
	font-family: 'Merriweather', serif;	
	font-size: 24px;
	text-align: left;
	color: black;
}


hr {
	width: 50px;
	background-color: aqua;
}

a:hover {
	color: #DBFFFF;
}
.clearfix:after {   

	visibility: hidden;   
	display: block;   
	font-size: 0;   
	content: " ";   
	clear: both;   
	height: 0; 
}
.wrapper {
	height: 130px;
	width: 450px;
	padding: inherit;
	float: right;
	margin-top: 100px;
	margin-right: 50px;
}
#jacquie {
	float:right;
	display: inline-block;
}
.info {
	height: 230px;
	width: 450px;
	float: right;
	margin-right: 50px;
	display: inline;
}
.circles {
	display: inline-block;
	text-align: center;
	padding: 10px 10px 10px;
	float: right;
}
#resumecircle {
	height: 130px;
	width: 130px;
	background-size: fixed;
	background-color: #73F3D0;
	float: right;
	border-radius: 100%;
	margin-top: center;
	margin-right: 50px;
	left: 473px;
	font-family: 'Rock Salt', cursive;
	text-decoration: none;
}
#workcircle {
	height: 130px;
	width: 130px;
	background-size: fixed;
	background-color: #A7FBDA;
	float: right;
	border-radius: 100%;
	margin-top: center;
	left: 626px;
	font-family: 'Rock Salt', cursive;
	font-size: 15px;
}
#skillcircle {
	height: 130px;
	width: 130px;
	background-size: fixed;
	background-color: #A7D0C0;
	float: right;
	border-radius: 100%;
	margin-top: center;
	left: 779px;
	font-family: 'Rock Salt', cursive;
}
.contact {
	font-family: 'Merriweather', serif;
	text-decoration: none;
	color: white;
	font-size: 16px;
	display: inline-block;
	margin: 50px;
	text-align: center;
	line-height: 30px;
}

.resume {
	display: inline-block;
	border-radius: 100%;
	float: right;
}
.resumepage {
	background-image: url('myresume.jpg');
	background-size: cover;
}